
# MacOS
.DS_Store

# eclipse
bin
*.launch
.classpath
.factorypath
.metadata
.project
.settings

# idea
out
*.ipr
*.iws
*.iml
.idea/*
!.idea/scopes

# gradle
build
.gradle

# other
eclipse
output
run
runs
